.container {
	height: 100%;
	width: 100%;
	position: center;
	background-size: cover;
	/*border: 1px solid black;
	
}

/*.carousel-inner > .item > img,*/
  /*.carousel-inner > .item > a > img {*/
      /*width: 70%;*/
      margin: auto;
  }

.cont {
	 position: center;
 	 height:90%;
    width:90%;
}
.ro { 
	display: flex;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
 	margin-bottom: 20px;
 	justify-content: space-around;
 } 
 	 
 #img1 { 
 	width: 120px; 
 	height:150px;  	/*width: 100%;*/ 
 	/*height: 100%;*/ 
 	/*border: 3px solid black;*/	
 	object-fit: contain; 
 } 









.col-lg-3 col-md-4 col-sm-6 {display: flex;
		-webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw;
   /*background-color: #C5BEB7;;*/
 }

 